.cta {
  display: flex;
  width: 100%;
  color: var(--ifm-color-black);
}
.cta .contentWrapper {
  background: var(--ifm-color-salmon-lightest);
  border-radius: 6px;
  padding: 2rem 2rem;
}
.cta .tagline {
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 1rem;
}
.cta .desc {
  font-family: var(--ifm-font-family-work-sans);
  font-weight: 600;
  font-size: 1rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 1rem;
}
.cta .ctaBtn {
  font-family: var(--ifm-font-family-work-sans);
  padding: 0.2rem 1rem;
}

@media (max-width: 768px) {
  .cta {
    margin: 2.5rem 0;
  }
  .cta .contentWrapper {
    padding: 1.5rem 1.5rem;
  }
  .cta .tagline {
    font-size: 1.5rem;
  }
  .cta .contentWrapper {
    padding: 1.8rem 2rem;
  }
}
@media (max-width: 1024px) {
  .cta .contentWrapper {
    width: 100%;
  }
  .cta .tagline {
    font-size: 1.1rem;
  }
  .cta .desc {
    font-size: 0.9rem;
  }
}

@media (max-width: 426px) {
  .cta .tagline {
    font-size: 1.05rem;
  }
  .cta .desc {
    font-size: 0.8rem;
  }
  .cta .contentWrapper {
    padding: 1rem;
  }
}
